<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
              <h2>{{>header}} </h2>
        
             <h2> {{title}}  </h2>
             <h2> country name is : {{name}} </h2>
             <h2> latitude is : {{latitude}} </h2>
             <h2> longtitude is  : {{longtitude}} </h2>
             <h2> weather is  : {{weather}} </h2>

      </body>
</html>